/******************************CABEÇALHO*****************************/

/*Barra do cabeçalho*/

.cabecalho { 
    grid-area: cabecalho;
    position: fixed; 
    top: 0; 
    margin: auto auto;
    
    margin: 0 0 0 0;
    /* / */
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas:
        "logo tray nav";
}


/*Zona dos icons do cabeçalho*/

nav {
    z-index: 80;
    margin: auto auto;
    grid-area: nav;
    margin-right: 1vw;
}

/*Icons no cabeçalho*/

nav img {
    margin-top: 1vh;
    margin-left: 2.2vw;
}

/*Logotipo*/

#logo  {
    margin-left: 0%;
    position: absolute;
    grid-area: logo;
}

/*******************************INDEX***********************************/

#GridIndex {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    /* / */
    display: grid;
    grid-template-rows: 20% 80% ; 
    grid-template-areas:
        "cabecalho"
        "pedido";
}

/*Zona do cabeçalho na pagina*/

#cabecalho {
    text-align: right;
    display: inline-block;
    grid-area: cabecalho;
}

/*Zona com o logotipo e o botao para comecar o pedido*/

#pedido {
    grid-area: pedido;
    text-align: center;
}

/*Botao para comecar a fazer o pedido*/

#btnPedido {
    text-align: center;
    margin-left: 30vw;
}


/*******************************MENU***********************************/

#GridMenu {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    border-bottom: none;
    /* / */
    display: grid;
    grid-template-rows: 10% 25% 65%; 
    grid-template-areas:
        "cabecalho"
        "intro"
        "menu";
}

/*Grid para cada div do menu*/

#quadrado {
    margin: auto auto;
    width: 225pt;
    height:108.75pt;
    margin: 0 0 0 0;
    /* / */
    display: grid;
    grid-template-columns: 36% 32% 32%;
    grid-template-areas:
        "imagem texto texto"
        "imagem preco preco"
        "imagem botoes1 botoes2";
}

/*Zona onde tem o titulo menu e os filtros*/

.intro {
    grid-area: intro;
    text-align: center;
    margin-top: 0vw;
}

/*Botoes e filtros do menu*/

.filtros1 {
    
    padding-top: 3.75pt;
    display: inline-block;
    margin-left: 1vw;
}

.filtros1 a {
    
    margin: auto auto;
}

/*Zona onde estão as opcoes do menu*/

#menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto auto auto;
    margin-top: 2vw;
    text-align: center;
    margin-left: 9vw;
}

#menu div {
    margin-left: 0.8vw;
    margin-right: 0.8vw;
    padding-top: 0.5%;
    text-align: center;
    margin-bottom: 1.5vw;
}


#menu p {
    display: inline-block;
}

/*Nome da opcao do menu*/

#texto {
    margin-right: 1vw;
    grid-area:texto;
    text-align: left;
    margin-left: 2vw;
}

/*Preço das opcoes do menu*/

#preco {
    grid-area: preco;
    text-align: left;
    margin-left: 2vw;
    margin-top: 1vw;
}

/*Imagens do menu*/

#IconMenu {
    margin-top: 1vh;
    margin-left: 1vw;
    grid-area: imagem;
}

#IconMenu2 {
    margin-top: 1vh;
    margin-left: 1vw;
    grid-area: imagem;
}

/*Botao de pedir a opcao do menu*/

#botoes1 {
    margin-right: 1vw;
    margin-left: 2vw;
    margin-bottom: 1.5vw;
    grid-area: botoes1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Botao info da opcao do menu*/

#botoes2 {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    grid-area: botoes2;
    display: flex;
    justify-content: center;
    align-items: center;
}



h4 {
    display: inline-block;
}


/****************************PAGAMENTO**************************/

#GridPagamentoInit {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    /* / */
    display: grid;
    grid-template-rows: 16% 1% 83%; 
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "cabecalho cabecalho"
        "TituloPag TituloPag"
        "pagamentoInit opcoes";
}

#pagamentos {
    margin-left: 150pt ;
    grid-area: pagamentoInit;
    width: 960pt;
    height: 540pt;
    display: flex;
    margin-top: 10pt;
    align-items: center;
    flex-wrap: wrap;
  }

#TituloPag{
    grid-area: TituloPag;
}

#opcoes{
    grid-area: opcoes;
}

#GridPagamento {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    /* / */
    display: grid;
    grid-template-rows: 20% 5% 75%; 
    grid-template-areas:
        "cabecalho"
        "TituloPag"
        "pagamento";
}

/*Zona com opcoes de pagamento*/

#pagamento {
    grid-area: pagamento;
    width: 900pt;
    height: 412.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto auto auto auto;
  }

/*Quadrado da opcao de pagamento*/

#pagamento div {
    width: 225pt;
    height: 240pt;
    margin-left: 3vw;
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Titulo Pagina - Pagamento*/

#TituloPag {
    grid-area: TituloPag;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Botao de cancelar metodo de pagamento*/

.btncancelarpopup {
    text-align: center;
    display: inline-block;
    margin-top: 2vw;
}

/*Botao de concluir metodo de pagamento*/

.btnconcluirpopup {
    text-align: center;
    display: inline-block;
    margin-top: 2vw;
}

/*qr code do mbway*/

#qrcode {
    height: 225pt;
    width: auto;
    margin-left: 2vw;
}

/*botoes de pagar tudo, pagar parte e efetuar pagamento*/

#opcoes {
    margin-bottom: 15vw;
}

#opcoespagamento {
    padding-left: 32.25pt;
    margin-top: 1vw;
}

#opcoespagamento1 {
    padding-left: 33.75pt;
    margin-top: 4vw;
}

.paga {
    border-style: none;
    font-size: large;
    padding-left: 7.5pt;
    padding-bottom: 33.75pt;
    margin-top:45pt;
}

.filtros2 {
    padding-top: 3.75pt;
    display: inline-block;
    margin-left: 1vw;
}

.filtros2 a {
    margin: auto auto;
}

/****************************RESERVAS**************************/

#GridReservas {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    /* / */
    display: grid;
    grid-template-rows: 15% 13% 57% 15%; 
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "cabecalho cabecalho"
        "TituloPag TituloPag"
        "frmReserva frmReserva"
        "but but";
}

/*formulario da reserva*/

#frmReserva {
    grid-area: frmReserva;
    font-size: xx-large;
    text-align: left;
    margin-top: 2vw;
    margin-left: 4vw;
}

#but{
    grid-area:but;
    width: 1000pt;
    margin-left: 23pt;
}

#container1 { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 800pt;
    margin-left: 60pt;
}

#container1 > div {
    font-size: 5vw;
    padding: .5em;
    width: 260pt;
    height: 100pt;
  }

#txtDataReserva, #selNumPessoas, #selHorasReserva {
    width: 120pt;
}

  #container2 { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 800pt;
    margin-left: 60pt;
}

#container2 > div {
    font-size: 5vw;
    padding: .5em;
  }

/*Botao para fazer a reserva*/

.btnFazerReserva {
    margin-left: 11vw;
}
#first{
    margin-left: 11vw;
}

/****************************ROLETA DA SORTE**************************/

#GridRoleta {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    border-style: dashed;
    /* / */
    display: grid;
    grid-template-rows: 20% 70% 10%; 
    grid-template-areas:
        "cabecalho"
        "roleta"
        "btnconcluirvisita";
}

/*Zona da roleta*/

#roleta {
    grid-area: roleta;
}

#btnconcluirvisita {
    grid-area: btnconcluirvisita;
    margin-left: 70vw;
}

#btnavancar {
    grid-area: btnconcluirvisita;
    margin-left: 70vw;
    margin-bottom: 40vw;
}

/************************POP-UP's************************************/
  
.button {
    padding: 7.5pt;
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
  
.popup {
    margin: 52.5pt auto;
    padding: 15pt;
    position: relative;
    overflow: auto;
    margin-top: 9vw;
}
  
.popup h2 {
    margin-top: 0;
    margin-left: 1.3vw;
}

.popup a {
    margin-left: 1.3vw;
}

.popup li , .popup h3 , .popup p{
    text-align: left;
}

.popup p {
    margin-left: 1.3vw;
}

#popupclose {
    position: absolute;
    top: 15pt;
    right: 22.5pt;
}

/*opcao de idioma*/

#idioma {
    display: inline-block;
}

/*Legenda das bandeiras do idioma*/

#idioma figcaption {
    text-align: center;
}

/*Bandeira do idioma*/

.IconIdioma {
    margin: 2vw;
}


/*Carrinho + popup do pedido*/

.list {
	overflow:auto;
	margin-bottom: 26.25pt;
    margin-left: 20pt;
    text-align: justify;
    text-justify: inter-word;
   
}

.app {
    position: fixed;
    left: 390pt;
    bottom: 37.5pt;
    z-index:99;
    padding-bottom: 18.75pt;
    overflow: hidden;
}

.app p {
  
    padding: 15pt;
}

h3 {
	padding-bottom: 5pt;
	
	padding-top: 10pt;

}

.fa {
	margin-top: 18.75pt;
}

ul {
	margin-top: 18.75pt;
	padding: 0 15pt;
	padding-bottom: 45pt;
}

li {
    display: block;
    margin-bottom: 3.75pt;
    text-align: justify;
    text-justify: inter-word;
}



.closepopup {
cursor: pointer;
left: 80%;
top: -1%;
position: relative;
position: absolute;
}

.openpopup {
margin: auto;
padding: 7.5pt;
cursor: pointer;
}

.openpopup2 {
margin: auto;
padding: 7.5pt;
margin-top:7.5pt;
cursor: pointer;
}

.tooltipshop, .tooltipshop2 {
padding: 3.75pt;
position: absolute;
margin: -11.25pt -67.5pt auto;
}

.tooltipshop:after {
margin-left: 6pt;
}

.tooltipshop2:after {
margin-left: 6pt;
}

#tray {
    display:flex;
    grid-area: tray;
    position: absolute;
    margin-top: 3.2vh;
    margin-left: 26vw;
}

.count {
    padding-left: 5.25pt;
    display:none;

}

.closewindow {
position: relative;
float: right;
left: -3%;
cursor:pointer;
text-align: center;
margin-top: 3.75pt;
}

.closewindow span {
	position:relative;
	bottom: 1.5pt;
}



#listapedido ul{
    height: max-content;
    width: max-content;
}

#listapedido li{
    
    height: max-content;
    width: max-content;
}


/*questionario*/

#GridQuest {
    width: 960pt;
    height: 540pt;
    margin: auto auto;
    /* / */
    display: grid;
    grid-template-rows: 10% 90%; 
    grid-template-areas:
        "cabecalho"
        
        "slides";
    font-size: 18.75pt;
}

.slideshow-container{
    grid-area: slides;
}



